.list {
  list-style: none;
}

/* hero */

.hero-title {
  color: #ffffff;
}

/* section */

.section-title {
  color: var(--title-text-color);
}

/* skill */

.skill .title {
  color: var(--title-text-color);
}

/* team */
.team .title {
  color: var(--title-text-color);
}

.button {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}
